@page "/deleteemployee/{Id:int}"

@using Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager ElMarinero
<h3>DeleteEmployee</h3>

<p>Deseas eliminar el @Id ? </p>
<div>
    <button @onclick="Delete">Eliminar</button>
    <button @onclick="Cancelar">Cancelar</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    
    Respuesta<object> _respuesta = new Respuesta<object>();
    public string url = "/api/Employee";
    
    private void Cancelar() => ElMarinero.NavigateTo("/employees");

    private async Task Delete()
    {
        var response = await Http.DeleteAsync(url+"/"+Id);
        _respuesta = response.Content.ReadFromJsonAsync<Respuesta<object>>().Result;
        ElMarinero.NavigateTo("/employees");
    }
}
