@page "/employees"

@using System.Net.Http
@using System.Net.Http.Json
@using CondorBlazorApp.Data
@inject HttpClient Http
<h3>Employees</h3>

<div class=row>
    <div class="col-12 text-right">
        <a class="btn btn-primary" href="employee">Agregar</a>
    </div>
</div>

<table class="table">
    <tr>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Area</th>
        <th>Acciones</th>
    </tr>
    @if(_respuesta != null && _respuesta.Data != null)
    {   
        @foreach (var employee in _respuesta.Data)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.LastName</td>
                <td>@employee.Area</td>
                <td>
                    <a href="employee/@employee.Id">Editar</a>
                    <a href="deleteemployee/@employee.Id">Eliminar</a>
                </td>
            </tr>
        }
    }
</table>

@code {
    public string url = "/api/Employee";
    
    public Data.Respuesta<List<Employee>> _respuesta = new Data.Respuesta<List<Employee>>();

    protected override async Task OnInitializedAsync() =>
        _respuesta = await Http.GetFromJsonAsync<Respuesta<List<Employee>>>(url);
}
